@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #ce1edb;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
}

.heading span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #ce1edb;
}

.heading h3 {
  font-size: 3rem;
  color: #130f40;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #ce1edb;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: #130f40;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 10%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #130f40;
}

header .logo i {
  padding-right: 1rem;
  color: #ce1edb;
}

header .navigation a {
  font-size: 1.7rem;
  margin: 0 2rem;
  color: #666;
}

header .navigation a.colored {
  color: #130f40;
}

header .navigation a:hover {
  color: #ce1edb;
}

header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: #f7f7f7;
  color: #130f40;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
}

header .icons div.fa-user-plus {
  background: #130f40;
  color: #fff;
}

header .icons div:hover {
  color: #fff;
  background: #ce1edb;
}

#menu-btn {
  display: none;
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
    top: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
    top: 0;
  }
}

.search-form-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  height: calc(100vh - 8.5rem);
  background: #fff;
  z-index: 1000;
  display: none;
}

.search-form-container.active {
  display: block;
}

.search-form-container form {
  height: 7rem;
  border-bottom: 0.2rem solid #130f40;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}

.search-form-container form input {
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  color: #130f40;
  text-transform: none;
  padding-right: 1rem;
}

.search-form-container form label {
  font-size: 3rem;
  cursor: pointer;
  color: #130f40;
}

.search-form-container form label:hover {
  color: #ce1edb;
}

.shopping-form-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  height: calc(100vh - 8.5rem);
  background: #fff;
  overflow-y: scroll;
  z-index: 1000;
  padding-bottom: 8rem;
  -webkit-animation: fadeUp 0.4s linear 0.4s backwards;
          animation: fadeUp 0.4s linear 0.4s backwards;
  display: none;
}

.shopping-form-container.active {
  display: block;
}

.shopping-form-container::-webkit-scrollbar {
  width: 1rem;
}

.shopping-form-container::-webkit-scrollbar-track {
  background: #fff;
}

.shopping-form-container::-webkit-scrollbar-thumb {
  background: #130f40;
  border-radius: 2rem;
}

.shopping-form-container .title {
  font-size: 2.5rem;
  padding: 1rem;
  color: #130f40;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.shopping-form-container .products-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.shopping-form-container .products-container .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.shopping-form-container .products-container .box-container .box {
  border-radius: 0.5rem;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}

.shopping-form-container .products-container .box-container .box.rem {
  display: none;
}

.shopping-form-container .products-container .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  color: #130f40;
}

.shopping-form-container .products-container .box-container .box .fa-times:hover {
  color: #ce1edb;
}

.shopping-form-container .products-container .box-container .box img {
  height: 9rem;
}

.shopping-form-container .products-container .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.shopping-form-container .products-container .box-container .box .content span {
  font-size: 1.5rem;
  color: #666;
}

.shopping-form-container .products-container .box-container .box .content span.price {
  color: #ce1edb;
  font-size: 1.7rem;
}

.shopping-form-container .products-container .box-container .box .content input {
  width: 8rem;
  font-size: 1.5rem;
  color: #130f40;
  margin: 0.7rem 0;
}

.shopping-form-container .cart-total {
  margin-top: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-animation: fadeUp 0.4s linear 0.8s backwards;
          animation: fadeUp 0.4s linear 0.8s backwards;
}

.shopping-form-container .cart-total .box {
  padding: 1.5rem;
}

.shopping-form-container .cart-total .box h3 {
  text-align: center;
  font-size: 2rem;
  color: #130f40;
}

.shopping-form-container .cart-total .box h3 span {
  color: #ce1edb;
}

.shopping-form-container .cart-total .box .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-form-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  height: calc(100vh - 8.5rem);
  background: #fff;
  z-index: 1000;
  padding: 0 2rem;
  display: none;
}

.login-form-container.active {
  display: block;
}

.login-form-container form {
  margin: 2rem auto;
  max-width: 40rem;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}

.login-form-container form h3 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #130f40;
}

.login-form-container form .box {
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  background: #f7f7f7;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  width: 100%;
}

.login-form-container form .remember {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.login-form-container form .remember label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.login-form-container form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.login-form-container form p {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #666;
}

.login-form-container form p a {
  color: #ce1edb;
}

.login-form-container form p a:hover {
  color: #130f40;
  text-decoration: underline;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.home .content span {
  font-size: 2rem;
  color: #ce1edb;
}

.home .content h3 {
  font-size: 4rem;
  color: #ce1edb;
  padding-top: 1rem;
}

.home .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}

.home .image .home-img {
  width: 100%;
  margin-top: 5rem;
}

.home .image .home-parallax-img {
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 80vw;
}

.category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding-bottom: 5rem;
}

.category .box {
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background: #f7f7f7;
}

.category .box:hover {
  background: #ce1edb;
}

.category .box:hover h3 {
  color: #fff;
}

.category img {
  height: 7rem;
}

.category h3 {
  font-size: 1.8rem;
  color: #130f40;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #f7f7f7;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #ce1edb;
}

.about .content .title {
  font-size: 3rem;
  padding-top: 0.5rem;
  color: #130f40;
}

.about .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.4rem;
  color: #666;
}

.about .content .icons-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.about .content .icons-container .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border-radius: 5rem;
  background: #fff;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.about .content .icons-container .icons h3 {
  font-size: 1.7rem;
  color: #130f40;
}

.popular .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.popular .box-container .box {
  border-radius: 0.5rem;
  position: relative;
  background: #f7f7f7;
  padding: 2rem;
  text-align: center;
}

.popular .box-container .image {
  margin: 1rem 0;
}

.popular .box-container .image img {
  height: 15rem;
}

.popular .box-container .fa-heart {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
}

.popular .box-container .fa-heart:hover {
  color: #ce1edb;
}

.popular .box-container .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.popular .box-container .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.popular .box-container .content .stars i {
  color: gold;
}

.popular .box-container .content .stars span {
  color: #666;
}

.popular .box-container .content .price {
  font-size: 2rem;
  color: #130f40;
}

.popular .box-container .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.popular .box-container .content .price .add-cart-price {
  font-size: 2rem;
  text-decoration: none;
  color: #130f40;
}

.banner .row-banner {
  background: url(../Images/row-banner.png) no-repeat;
  height: 50rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner .row-banner .content {
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .row-banner .content span {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  color: #ce1edb;
  color: #130f40;
}

.banner .row-banner .content h3 {
  font-size: 6rem;
  color: red;
  text-transform: uppercase;
}

.banner .row-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.banner .grid-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.banner .grid-banner .grid {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 50rem;
}

.banner .grid-banner .grid:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner .grid-banner .grid img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 2rem;
}

.banner .grid-banner .grid .content.center {
  text-align: center;
  width: 100%;
}

.banner .grid-banner .grid .content.center span {
  color: #666;
}

.banner .grid-banner .grid .content.center h3 {
  color: #130f40;
}

.banner .grid-banner .grid .content span {
  font-size: 2.5rem;
  color: #fff;
}

.banner .grid-banner .grid .content h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 3rem;
}

.menu .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  border-radius: 0.5rem;
  background: #f7f7f7;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box:hover {
  background: #130f40;
}

.menu .box-container .box:hover .content h3 {
  color: #fff;
}

.menu .box-container .box .content h3 {
  font-size: 1.9rem;
  color: #130f40;
  padding-bottom: 0.5rem;
}

.menu .box-container .box .content .price {
  font-size: 1.8rem;
  color: #ce1edb;
}

.order .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.order .icons-container .icons {
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  background: #f7f7f7;
}

.order .icons-container .icons img {
  height: 10rem;
}

.order .icons-container .icons h3 {
  font-size: 2rem;
  color: #130f40;
  margin-top: 0.5rem;
}

.order form {
  background: #f7f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
}

.order form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order form .flex .inputBox {
  width: 49%;
  padding: 1rem 0;
}

.order form .flex span {
  font-size: 2rem;
  color: #666;
}

.order form .flex input,
.order form .flex textarea {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #130f40;
}

.order form .flex textarea {
  height: 20rem;
  resize: none;
}

.order form .flex .map {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.blog .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blog .box-container .box {
  overflow: hidden;
  border-radius: 0.5rem;
}

.blog .box-container .box:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blog .box-container .box:hover .image h3 {
  left: 1.5rem;
}

.blog .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.blog .box-container .box .image h3 {
  position: absolute;
  z-index: 100;
  top: 1rem;
  left: -100%;
  border-radius: 0.5rem;
  background: #fff;
  color: #130f40;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.blog .box-container .box .image h3 i {
  padding-right: 0.5rem;
  color: #ce1edb;
}

.blog .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .box-container .box .content {
  padding: 1.5rem 2rem;
  background: #f7f7f7;
}

.blog .box-container .box .content .tags {
  padding-bottom: 1rem;
}

.blog .box-container .box .content .tags a {
  font-size: 1.5rem;
  color: #666;
}

.blog .box-container .box .content .tags a i {
  color: #ce1edb;
}

.blog .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.blog .box-container .box .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.footer {
  background: #f7f7f7;
}

.footer .newletter {
  text-align: center;
  margin-bottom: 2rem;
}

.footer .newletter h3 {
  font-size: 2.5rem;
  color: #130f40;
  padding-bottom: 1rem;
}

.footer .newletter form {
  max-width: 70rem;
  margin: 1rem auto;
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .newletter form input[type="email"] {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
}

.footer .newletter form input[type="submit"] {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: #ce1edb;
  cursor: pointer;
}

.footer .newletter form input[type="submit"]:hover {
  background: #130f40;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}

.footer .box-container .box p {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: #ce1edb;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #ce1edb;
}

.footer .bottom {
  padding-top: 1rem;
  text-align: center;
}

.footer .bottom .share {
  margin: 1.5rem 0;
}

.footer .bottom .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  margin: 0 0.3rem;
  color: #fff;
  background: #ce1edb;
}

.footer .bottom .share a:hover {
  background: #130f40;
}

.footer .bottom .credit {
  font-size: 2rem;
  color: #666;
  padding: 1rem;
}

.footer .bottom .credit span {
  color: #ce1edb;
}

.float {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 4rem;
  right: 3rem;
  background-color: #ce1edb;
  color: #fff;
  border-radius: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  display: none;
}

.float.active {
  display: block;
}

.float:hover {
  background-color: #130f40;
  color: #ce1edb;
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
}

.float .my-float {
  margin-top: 30%;
  font-size: 2.5rem;
}

@media (max-width: 1150px) {
  .header {
    padding: 2rem;
  }
  .home .image .home-parallax-img {
    top: 0;
    right: 0;
    width: 70%;
  }
  .home .image img {
    margin-top: 0;
  }
}

@media (max-width: 1025px) {
  .header {
    padding: 2rem;
  }
  .home .image .home-parallax-img {
    top: 0;
    right: 0;
    width: 90%;
  }
  .home .image img {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
  .header {
    padding: 2rem;
  }
  .home .image .home-parallax-img {
    top: 0;
    right: 0;
    width: 100%;
  }
  .home .image img {
    margin-top: 0;
  }
}

@media (max-width: 875px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navigation {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    z-index: 1002;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navigation.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navigation a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .shopping-form-container .cart-total .box {
    text-align: center;
  }
  .shopping-form-container .cart-total .box .btn {
    width: 100%;
  }
  .home .image .home-parallax-img {
    top: 0;
    right: 0;
    width: 100%;
  }
  .home .image img {
    margin-top: 0;
  }
  .order form .flex .inputBox {
    width: 100%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 50%;
  }
  .shopping-form-container .cart-total .box {
    text-align: center;
  }
  .shopping-form-container .cart-total .box .btns {
    display: block;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 40%;
  }
  .header {
    padding: 1rem;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 30%;
  }
  .header {
    padding: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */